* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

section {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #173c78;
}
.bowl {
    
    position: relative;
    width:300px;
    height:300px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    border: 8px solid transparent;
}

.bowl ::before {
    position: absolute;
    content: '';
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
    width:40%;
    height:30px;
    border:15px solid #4e6fa3;
    border-radius:50%;
    box-shadow: 0 10px #3b537a;
}

.bowl::after {

    position:absolute;
    content: '';
    width: 150px;
    height: 80px;
    top:15%;
    left: 50%;
    background:rgba(255,255,255,.1);
    border-radius: 50%;
    transform: translate(-50%, 50%);

}

.contain {
    position: absolute;
    top: 40%;
    left:5px;
    right:5px;
    bottom:5px;
    background: #8c1818;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #8c1818 );
}

.contain ::before {
    position:absolute;
    content: '';
    width: 150px;
    height: 80px;
    top:15%;
    left: 50%;
    background:rgba(255,255,255,.1);
    border-radius: 50%;
    transform: translate(-50%, 50%);
}