* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

section {
    display:flex
    justify-content center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background: #173c78;
}
.bowl {
    
    position: relative;
    width:300px;
    height:300px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
}