* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

section {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #173c78;
}
.bowl {
    
    position: relative;
    width:300px;
    height:300px;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    border: 8px solid transparent;
    animation: animate 5s infinite;
    transform-origin: bottom center;
}

.bowl::before {
    position: absolute;
    content: '';
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width:40%;
    height:30px;
    border:15px solid #4e6fa3;
    border-radius:50%;
    box-shadow: 0 5px #3b537a;
}

.bowl::after {

    position:absolute;
    content: '';
    width: 150px;
    height: 80px;
    top:40%;
    left: 50%;
    background:rgba(255,255,255,.1);
    border-radius: 50%;
    transform: translate(-50%, 50%);

}

.contain {
    position: absolute;
    top: 50%;
    left:5px;
    right:5px;
    bottom:5px;
    background: #8c1818;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    filter: drop-shadow(0 0 80px #8c1818 );
    animation: animatecontainer  5s infinite;
    transform-origin: top center;
    
}

@keyframes animate {
  0%{
       transform: rotate(0deg);
       
}
   25%{
    transform: rotate(15deg);
}   
    50%{
    transform: rotate(0deg);
}
    75%{
    transform: rotate(-15deg);
}
    100%{
    transform: rotate(0deg);
    
}
}

@keyframes animatecontainer {
    0%{
         transform: rotate(0deg);
         
  }
     25%{
      transform: rotate(-20deg);
  }   
      50%{
      transform: rotate(0deg);
  }
      75%{
      transform: rotate(20deg);
  }
      100%{
      transform: rotate(0deg);
      
  }
  }
.contain::before {
    content: '';
    position:absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: #944444;
    border-radius: 50%;
}